
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

@keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  } 

  @keyframes blink {
    0% {
      opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }

    100% {
        opacity: 0;
    } 
  }

  @keyframes flicker {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

    .muse-container {
        position: absolute;
        top: 60%;
        left: 10%
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
  
  .robot-dict {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0%;
    left:0%;
  }

  .head-dict {
    width: 60px;
    height: 60px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 0.2em;
    position: absolute;
    top: -9%;
    left: 43%;
    box-shadow: inset 3px 2px 15px #334155,
                inset -3px -3px 20px #d4d4d4;
  }

  .mouth-dict {
    width: 6px;
    height: 1px;
    background-color: #334155;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 44%;
  }
  
  .left-eye-dict {
    left: 7%;
    width: 20px;
    height: 20px;
    background-color: #cbd5e1;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    box-shadow: inset 0.5px 0.5px 1px lightslategray;
  }

  .blink-left-dict {
    left: 7%;
    width: 20px;
    height: 20px;
    background-color: #64748b;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    animation: blink 3s linear infinite;
  }
  
  .right-eye-dict {
    right: 7%;
    width: 20px;
    height: 20px;
    background-color: #cbd5e1;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    box-shadow: inset -0.5px 0.5px 1px lightslategray;
  }

  .blink-right-dict {
    right: 7%;
    width: 20px;
    height: 20px;
    background-color: #64748b;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    animation: blink 3s linear infinite;
  }

  

  .left-pupil-dict {
    left: 24%;
    width: 8px;
    height: 8px;
    background-color: #475569;
    border: 1px solid  #475569;
    border-radius: 50%;
    position: absolute;
    top: 30%; 
}
  
  .right-pupil-dict {
    right: 22%;
    width: 8px;
    height: 8px;
    background-color: #475569;
    border: 1px solid  #475569;
    border-radius: 50%;
    position: absolute;
    top: 30%; 
  }

  .torso-dict {
    width: 80px;
    height: 80px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 0.2em;
    position: absolute;
    top: 6%;
    left: 40%;
    box-shadow: inset 3px 5px 20px #334155,
    inset -5px -5px 25px #e4e4e7;
  }

  .light-left-dict {
    right: 64%;
    width: 7px;
    height: 7px;
    background-color: #86efac;
    border-radius: 50%;
    position: absolute;
    top: 12%; 
    
  }

  .light-middle-dict{
    right: 46%;
    width: 7px;
    height: 7px;
    background-color: #fde68a;
    border-radius: 50%;
    position: absolute;
    top: 12%;    
  }

  .light-right-dict {
    right: 30%;
    width: 7px;
    height: 7px;
    background-color: #bae6fd;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    
  }

  .light-left-blink-dict {
    right: 64%;
    width: 7px;
    height: 7px;
    background-color: #064e3b;
    border-radius: 50%;
    position: absolute;
    top: 12%; 
    animation: flicker 1s linear infinite;
  }

  .light-middle-blink-dict {
    right: 46%;
    width: 7px;
    height: 7px;
    background-color: #854d0e;
    border-radius: 50%;
    position: absolute;
    top: 12%; 
    animation: flicker 0.7s linear infinite;
  }

  .light-right-blink-dict {
    right: 30%;
    width: 7px;
    height: 7px;
    background-color: #3730a3;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    animation: flicker 0.8s linear infinite;
    
  }
  .chest-dict { 
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-top-left-radius: 15em;
    border-top-right-radius: 15em;
    border-bottom-left-radius: 30em;
    border-bottom-right-radius: 30em;
    position: absolute;
    top: 8%;
    left: 15%;
    box-shadow: inset 2px 2px 10px #334155,
    inset -5px -5px 10px #e4e4e7;
  }
  
  .bottom-dict {
    width: 140px;
    height: 60px;
    background-color: #475569;
    border: 4px solid #94a3b8;
    border-radius: 5em;
    position: absolute;
    top: 29%;
    left: 30%;
    box-shadow: inset 3px 3px 10px #334155,
                inset -3px -3px 10px #e4e4e7;
  }


  .waist-dict {
    width: 20px;
    height: 20px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    position: absolute;
    top: -40%;
    left: 42%;
    box-shadow: inset 1px 1px 4px #334155,
                inset -1px -1px 1px #e4e4e7;
  }


  .left-wheel-dict {
    width: 44px;
    height: 44px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    background-color: #1e293b;
    opacity: 33%;
  }


  .left-wheel-inner-dict {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 10%;
  }

  .left-cross-vertical-dict {
        background: white;
        height: 40px;
        position: absolute;
        width: 6px;
        top: 0%;
        left: 14%;
        animation-name: spin; 
        animation-duration: 1.5s; 
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    .left-cross-horizontal-dict {
        position: absolute;
        background: white;
        height: 6px;
        position: absolute;
        width: 40px;
        top: 37%;
        left: 3%;
        animation-name: spin; 
        animation-duration: 1.5s; 
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

  .middle-wheel-dict {
    width: 42px;
    height: 42px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 34%;
    background-color: #1e293b;
    opacity: 33%;
  }

  .middle-wheel-inner-dict {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 43%; 
  }

  .middle-cross-vertical-dict {
    background: white;
    height: 40px;
    position: absolute;
    width: 6px;
    top: 0%;
    left: 49%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.middle-cross-horizontal-dict {
    position: absolute;
    background: white;
    height: 6px;
    position: absolute;
    width: 40px;
    top: 37%;
    left: 36%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  .right-wheel-dict {
    width: 42px;
    height: 42px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 67%;
    background-color: #1e293b;
    opacity: 33%;
  }

  .right-wheel-inner-dict {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 76%;
  }

  .right-cross-vertical-dict {
    background: white;
    height: 40px;
    position: absolute;
    width: 6px;
    top: 0%;
    left: 81%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.right-cross-horizontal-dict {
    position: absolute;
    background: white;
    height: 6px;
    position: absolute;
    width: 40px;
    top: 37%;
    left: 69%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}

.muse-dict {
    color: #334155; 
    position: absolute;
    font-family: 'roboto mono';
    font-size: 16px;
    font-weight: 500;
    top: 15%;
    left: 25%;
}

  .right-arm-connect-dict { 
    width: 10px;
    height: 20px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: 95%;
    
    box-shadow: inset 0.5px 0.5px 3px #555B6E,
                inset -.5px -.5px 3px #555B6E;
  }

  .shoulder-right-dict {
    width: 14px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 90%;
    animation: head-bob 0.75s infinite alternate;
    box-shadow: inset 1px 1px 5px #e4e4e7,
                inset -1px -1px 5px #334155;
  } 

  .shoulder-left-dict {
    width: 14px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -10%;
    box-shadow: inset 1px 1px 5px #334155,
                inset -1px -1px 5px #e4e4e7;
  }

  .left-arm-connect-dict { 
    width: 10px;
    height: 20px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: -9%;
    box-shadow: inset -.5px -.5px 3px #555B6E;
    
  }