

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');


    .container {
        position: absolute;
        top: 40%;
        left: 10%
    }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  .robot {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0%;
    left:0%;
  }

  .head {
    width: 60px;
    height: 60px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 0.2em;
    position: absolute;
    top: -9%;
    left: 43%;
    box-shadow: inset 3px 2px 15px #334155,
                inset -3px -3px 20px #d4d4d4;
  }

  .mouth {
    width: 6px;
    height: 1px;
    background-color: #334155;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 44%;
  }
  
  .left-eye {
    left: 7%;
    width: 20px;
    height: 20px;
    background-color: #cbd5e1;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    box-shadow: inset 0.5px 0.5px 1px lightslategray;
  }

  .blink-left {
    left: 7%;
    width: 20px;
    height: 20px;
    background-color: #64748b;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    animation: blink 3s linear infinite;
  }
  
  .right-eye {
    right: 7%;
    width: 20px;
    height: 20px;
    background-color: #cbd5e1;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    box-shadow: inset -0.5px 0.5px 1px lightslategray;
  }

  .blink-right {
    right: 7%;
    width: 20px;
    height: 20px;
    background-color: #64748b;
    border: 2px solid #64748b;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    animation: blink 3s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

  .left-pupil {
    left: 24%;
    width: 8px;
    height: 8px;
    background-color: #475569;
    border: 1px solid  #475569;
    border-radius: 50%;
    position: absolute;
    top: 30%; 
}
  
  .right-pupil {
    right: 22%;
    width: 8px;
    height: 8px;
    background-color: #475569;
    border: 1px solid  #475569;
    border-radius: 50%;
    position: absolute;
    top: 30%; 
  }

  /* .left-dot {
    left: 31%;
    width: 1px;
    height: 1px;
    border: 1px solid #3b82f6;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 36%;
} */
  
  /* .right-dot {
    right: 30%;
    width: 1px;
    height: 1px;
    border: 1px solid #3b82f6;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 36%;
  } */
  
  .torso {
    width: 80px;
    height: 80px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 0.2em;
    position: absolute;
    top: 6%;
    left: 40%;
    box-shadow: inset 3px 5px 20px #334155,
    inset -5px -5px 25px #e4e4e7;
  }

  .light-left {
    right: 64%;
    width: 6px;
    height: 6px;
    background-color: #86efac;
    border-radius: 50%;
    position: absolute;
    top: 12%; 
  }

  .light-middle {
    right: 46%;
    width: 6px;
    height: 6px;
    background-color: #fde68a;
    border-radius: 50%;
    position: absolute;
    top: 12%;    
  }

  .light-right {
    right: 30%;
    width: 6px;
    height: 6px;
    background-color: #bae6fd;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    
  }

  .chest { 
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-top-left-radius: 15em;
    border-top-right-radius: 15em;
    border-bottom-left-radius: 30em;
    border-bottom-right-radius: 30em;
    position: absolute;
    top: 8%;
    left: 15%;
    box-shadow: inset 2px 2px 10px #334155,
    inset -5px -5px 10px #e4e4e7;
  }
  
  .bottom {
    width: 140px;
    height: 60px;
    background-color: #475569;
    border: 4px solid #94a3b8;
    border-radius: 5em;
    position: absolute;
    top: 29%;
    left: 30%;
    box-shadow: inset 3px 3px 10px #334155,
                inset -3px -3px 10px #e4e4e7;
  }


  .waist {
    width: 20px;
    height: 20px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    position: absolute;
    top: -46%;
    left: 42%;
    box-shadow: inset 1px 1px 4px #334155,
                inset -1px -1px 1px #e4e4e7;
  }


  .left-wheel {
    width: 44px;
    height: 44px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    background-color: #1e293b;
    opacity: 33%;
  }


  .left-wheel-inner {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 10%;
  }

  .left-cross-vertical {
        background: white;
        height: 40px;
        position: absolute;
        width: 6px;
        top: 0%;
        left: 14%;
        animation-name: spin; 
        animation-duration: 1.5s; 
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    .left-cross-horizontal {
        position: absolute;
        background: white;
        height: 6px;
        position: absolute;
        width: 40px;
        top: 37%;
        left: 3%;
        animation-name: spin; 
        animation-duration: 1.5s; 
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

  .middle-wheel {
    width: 42px;
    height: 42px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 34%;
    background-color: #1e293b;
    opacity: 33%;
  }

  .middle-wheel-inner {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 43%; 
  }

  .middle-cross-vertical {
    background: white;
    height: 40px;
    position: absolute;
    width: 6px;
    top: 0%;
    left: 49%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.middle-cross-horizontal {
    position: absolute;
    background: white;
    height: 6px;
    position: absolute;
    width: 40px;
    top: 37%;
    left: 36%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  .right-wheel {
    width: 42px;
    height: 42px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 0%;
    left: 67%;
    background-color: #1e293b;
    opacity: 33%;
  }

  .right-wheel-inner {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #1e293b;
    border-radius: 50%;
    top: 22%;
    left: 76%;
  }

  .right-cross-vertical {
    background: white;
    height: 40px;
    position: absolute;
    width: 6px;
    top: 0%;
    left: 81%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.right-cross-horizontal {
    position: absolute;
    background: white;
    height: 6px;
    position: absolute;
    width: 40px;
    top: 37%;
    left: 69%;
    animation-name: spin; 
    animation-duration: 1.5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}

.muse {
    color: #334155; 
    position: absolute;
    font-family: 'roboto mono';
    font-size: 16px;
    font-weight: 500;
    top: 15%;
    left: 25%;
}

  .right-arm-connect { 
    width: 10px;
    height: 20px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: 95%;
    
    box-shadow: inset 0.5px 0.5px 3px #555B6E,
                inset -.5px -.5px 3px #555B6E;
  }

  .shoulder-right {
    width: 14px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 90%;
    animation: head-bob 0.75s infinite alternate;
    box-shadow: inset 1px 1px 5px #e4e4e7,
                inset -1px -1px 5px #334155;
  } 

  .shoulder-left {
    width: 14px;
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -10%;
    box-shadow: inset 1px 1px 5px #334155,
                inset -1px -1px 5px #e4e4e7;
  }

  .left-arm-connect { 
    width: 10px;
    height: 20px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: -9%;
    box-shadow: inset -.5px -.5px 3px #555B6E;
    
  }
/* 
  .speech-box {
    position: absolute;
    width: 250px;
    background-color: #cbd5e1;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'roboto mono';
    line-height: 1.5;
    top: -50%;
    left: 0%;
  }
  
  .triangle-bottom {
    width: 0;
    height: 0;
    top: -15%;
    left: 15%;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #cbd5e1;
  } 


  .triangle-left {
    width: 0;
    height: 0;
    top: 50%;
    left: 39.5%;
    position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid #cbd5e1;
  } 

  .triangle-right {
  width: 0;
  height: 0;
  top: 48%;
  left: 58.5%;
  position: absolute;
  border-top: 29px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid  #cbd5e1;
  }
   */
 
   
    
  @keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }
  
  