
.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    background-color: #cbd5e1;
    border-radius: 0.1em;
    
}

.time-container {
    display: flex;
    width: 315px;
    margin-top: 20px;
    background-color: #e2e8f0;
    justify-content: center;
    border: 2px solid white;
    

}

.time {
    font-size: 110px;
    font-family: "Istok Web";
    border-radius: 0.1em;
    color: #334155;
}

.timer-text {
    font-size: 80px;
    font-family: "Istok Web";
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0.1em;
    color: #334155;
    background-color: #e2e8f0;
    border: 2px solid white;
    
    
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
.start {
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #e2e8f0;
    border: 2px solid white;
    font-family: "Istok Web";
    border-radius: 0.1em;
    color: #334155;
    
}


.stop {
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 2px solid white;
    background-color: #e2e8f0;
    font-family: "Istok Web";
    border-radius: 0.1em;
    color: #334155;
    
}


.timer-start {
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-top: 50px;
    color: #334155;
    border-radius: 0.1em;
    margin-bottom: 90px;
    background-color: #e2e8f0;
    border: 2px solid white;
    font-family: "Istok Web";
}

.timer-stop {
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.1em;
    margin-top: 50px;
    margin-left: 10px;
    color: #334155;
    margin-bottom: 90px;
    background-color: #e2e8f0;
    border: 2px solid white;
    font-family: "Istok Web";
}

.start:hover, .stop:hover {
    background-color: #dddddd; 
}

.timer-start:hover, .timer-stop:hover, .clear:hover, .start:hover, .stop:hover {
    background-color: dddddd; 
}

.round-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.round {
    font-size: 30px;
    padding: 10px;
    font-family: "Istok Web";
    color: #334155;
}

.timer-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    background-color: #cbd5e1;
    border-radius: 0.1em;
    
}

.clear {
    font-size: 30px;
    border: 2px solid white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.1em;
    margin-top: 30px;
    color: #334155;
    background-color: #cbd5e1;
    /* margin-left: 10px; */
    /* margin-bottom:  */
    font-family: "Istok Web";
    /* box-shadow: inset 3px 3px 4px white; */
}