/* #root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  cursor: pointer;
}

.navbar{
    margin: 1px;
    padding: 1px;
    justify-content: space-between;
    display: flex;
    font: black;

}
.navbar a{
    text-decoration: none;
    font: black;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2{
    text-decoration: underline;
    font-size: 30px;
}
button{
    margin:4px;
    border: solid, black, 2px;
}

.generate-button{
    margin: 4px;
    border: solid, black, 2px;
    color: white;
    font-size: 50px;
}

.promptReturn{
  border:black solid 2px;
  padding:20px;
  max-width= 200px;
  justify-content: center;

}

.promptbox {
    border: black solid 2px;
    min-width: 200px;
    min-height: 200px;
    margin:50px;
}

.create-box{
    border: 2px solid black;
    width: 500px; 
    height:400px;
    margin: 0 auto; 
    font-family: monospace;

    
  }

  .create-box input{
    font-family: monospace;

  }

  .create-display {
    padding: 38px;
    margin: 20px;
  } */